<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Name: <%=mission.name;%></h1>
	<li>Launch Date: <%=mission.launchDate;%> </li>
	<li>Operator: <%=mission.operator;%> </li>
	<li>Mission Type: <%=mission.missionType;%> </li>

	</p>

		</br>

	<a href="/mm/"> back </a>


</body>
</html>


<!--     name: "Curiosity",
    launchDate: "26 Nov 2011",
    operator: "NASA",
    missionType: "Rover",
    img: "" -->