<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<h1>Fruits 'show' page</h1>
	<p>this is a fruit page i love fruit fruits is the best food to be of eatin</p>

	<a href="http://localhost:3000/fruit/0">Apple</a> </br>
	<a href="http://localhost:3000/fruit/1">Papaya</a> </br>
	<a href="http://localhost:3000/fruit/2">Mango</a> </br>
	<a href="http://localhost:3000/fruit/3">Pineapple</a> </br>
	<a href="http://localhost:3000/fruit/4">Dragonfruit</a> </br>







</body>
</html>