<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=marsMission.name   %></h1>
	<p><%=marsMission.launchDate   %></p>
	<p><%=marsMission.operator   %></p>
	<p><%=marsMission.missionType   %></p>
	<P><a href="/marsMissions">Return to full mission list</a></P>

</body>
</html>