<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Banana</title>
</head>
<body>
	<h1>The Banana Page!</h1>
	Bananas are <%=banana.color; %>.
	<% if(banana.readyToEat == true) { %>
		They are ready to eat!
	<%} else { %>
		They are not ready to eat.
	<%} %>
	<br>
	<img src="https://www.organicfacts.net/wp-content/uploads/2013/05/Banana3.jpg">
	<a href="./">Go back to the fruit list.</a>
</body>
</html>