<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Fruit Index Page</h1>

	<ul>
		<li> <a href="./fruits/0">apple</a></li>
		<li> <a href="./fruits/1">banana</a></li>
		<li> <a href="./fruits/2">pear</a></li>
		<li> <a href="./fruits/3">guava</a></li>
		<li> <a href="./fruits/4">pineapple</a></li>
	</ul>


</body>
</html>