<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Fruit Index Page</h1>

	<ul>
		<li> <a href="/fruits/0">Apple</a></li>
		<li> <a href="/fruits/1">Banana</a></li>
		<li> <a href="/fruits/2">Orange</a></li>
	</ul>


</body>
</html>