<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pear</title>
</head>
<body>
	<h1>The Pear Page!</h1>
	Pears are <%=pear.color; %>.
	<% if(pear.readyToEat == true) { %>
		They are ready to eat!
	<%} else { %>
		They are not ready to eat.
	<%} %>
	<br>
	<img src="https://www.organicfacts.net/wp-content/uploads/pear.jpg">
	<a href="./">Go back to the fruit list.</a>
</body>
</html>