<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fruits</title>
</head>
<body>
	<h1>Fruits 'show' page</h1>
	<p>this is a fruit page i love fruits fruit is awesome</p>

	<!-- note the new tags! -->
	The <%=fruit.name; %> is <%=fruit.color; %>.

	<% if(fruit.readyToEat == true) { %>
		It is ready to eat!
	<%} else { %>
		It is ABSOLUTELY NOT ready to eat.
	<%} %>		

</body>
</html>
