<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fruits</title>
</head>
<body>
	<h1>This is a page of fruits</h1>
	<p>Click one!</p>

	<a href="./fruits/apple">Apple</a>
	<a href="./fruits/banana">Banana</a>
	<a href="./fruits/pear">Pear</a>
	<a href="./fruits/guava">Guava</a>
	<a href="./fruits/pineapple">Pineapple</a>
	
</body>
</html>
